* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
}

.avatar {
    max-width: 100%;
}

textarea{
    resize: none;
    height: 150px;
}

.com_bor{
    border-radius: 5px;
    border: 1 solid black;
}