{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-7 mb-5">
      Опубликовано {{ post.date.strftime('%d.%m.%Y') }}. Автор: {{ post.author }}
    </div>
  </div>
</div>

<h1 class="card-title text-center mb-5">{{ post.title }}</h1>

<img src="{{ url_for('static', filename='images/' ~ post.image_filename) }}" alt="photo" class="w-75 h-25 mx-auto d-block img-fluid mb-3">

<div class="mb-3">{{post.text}}</div>

<div class="com_bor p-2">
  <h2 class="card-title text-left mb-2">Оставьте комментарий:</h2>
  <textarea class="form-control w-100 mb-2" aria-label="Введите комментарий"></textarea>
  <button type="button" class="btn btn-primary">Отправить</button>
</div>

{% for com in post.comments %}
<div class="media mt-3">
  <img class="mr-3" src="{{ url_for('static', filename='images/' ~ '1.jpg') }}" height="64">
  <div class="media-body">
    <h5 class="mt-0">{{ com.author }}</h5>
    {{ com.text }}
    {% for replie in com.replies %}
    <div class="media mt-3">
      <a class="pr-3" href="#">
        <img src="{{ url_for('static', filename='images/' ~ '1.jpg') }}" height="64">
      </a>
      <div class="media-body">
        <h5 class="mt-0">{{ replie.author }}</h5>
        {{ replie.text }}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endfor %}

{% endblock %}